* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(135deg, #6a11cb, #2575fc, #ff4ecd);
  color: white;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 60px;
}

.left h1 {
  font-size: 3rem;
}

.left span {
  color: yellow;
}

.left button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

/* GIF */
.right img {
  width: 300px;
  border-radius: 20px;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

/* SKILLS GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.grid div {
  background: rgba(255,255,255,0.2);
  padding: 10px 15px;
  border-radius: 10px;
}

/* PROJECT CARDS */
.card {
  background: rgba(0,0,0,0.3);
  margin: 10px auto;
  padding: 15px;
  width: 60%;
  border-radius: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}
